:root {
    --primary-color: #0d9488;
}

body {
    margin: 0;
    
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

a {
    text-decoration: none;
    color: white;
}



svg {
    fill: white;
    margin-right: 0.8rem;

    
}

.sidebar {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;

    grid-row: 1 / span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    font-size: larger;


    svg {
        fill: white;
        
        width: 3rem;
        height: 3rem;
    }
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.nav-links {
    margin-bottom: 2rem;
}

.header {
    background-color: #f0fdfa;
    
    padding: 1rem;

    grid-column: 2;

}

.main-content {
    background-color: #f4f4f4;
    padding: 1rem;
    grid-row: 2;
    grid-column: 2;

}



















.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
